@import '../../Styles/variables';

.root {

}

.headerImage {
  text-align: center;
  height: 50vh;
  width:100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  }